.left-panel {
    width: 40%;
    background: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
}
.section {
    padding: 15px;
    display: flex;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    transition: background 0.3s;
}

.section:hover {
    background: #e0e0e0;
}

.section img{
    width: 60px;
    height: 100%;
    padding-top: 10px;
    padding-right: 10px;
}

.right-panel {
    width: 6%;
    padding: 20px;
    box-sizing: border-box;
}
.right-panel img {
    width: 600px;
    height: 500px;
    padding-left: 100px;
}
.content {
    display: none;
}

.content:not(.hidden) {
    display: block;
}
